@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tango Sans";
  src: url("./fonts/Tango_Sans/TangoSans.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tango Sans Bold";
  src: url("./fonts/Tango_Sans/TangoSans_Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Plak";
  src: url("./fonts/Neue_Plak/NeuePlak_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Xirod";
  src: url("./fonts/Xirod/Xirod.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono Italic";
  src: url("./fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono Bold";
  src: url("./fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono Bold Italic";
  src: url("./fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Neue Plak", sans-serif;
  background-color: #000000;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 349, 64%, 39%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.list-spacing li:not(:last-child) {
  margin-bottom: 8px;
}
