.section-title-container {
  container-type: inline-size;
}

@keyframes letter-flicker {
  0%,
  100% {
    opacity: 1;
  }
  2% {
    opacity: 0.08;
  }
  3.5% {
    opacity: 0.9;
  }
  5% {
    opacity: 0.12;
  }
  6.5% {
    opacity: 1;
  }
}

.letter-flicker {
  animation: letter-flicker 5s infinite;
}
