@import url('../resources/fonts/neue-plak-webfont/style.css');

/* || General styles */

:root {
    /* Background Colors */
    --dark-background: #1B1B1C;
    --light-background: #FFFFFF;

    /* Useable Colors */
    --chapman-red: #a50034;
    --mint: #DAFFED;
    --ice-blue: #9BF3F0;
    --poiple: #473198;
    --light-green: #ADFC92;
}

html {
    scroll-behavior: smooth;
    font-family: 'Neue Plak Regular', sans-serif;
}

h1 {
    font-family: 'Neue Plak Extended Bold', sans-serif;
}

h2 {
    font-family: 'Neue Plak Extended Semi Bold', sans-serif;
}

p {
    font-family: 'Neue Plak Extended', sans-serif;
}

body {
    background-color: var(--light-background);
    margin: 0;
}

/* … */



/* || NAVBAR */

.navbar {
    margin: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #a50034, #980030);
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.navbar.opaque {
    opacity: 0.5;
}

.navbar.opaque:hover {
    opacity: 1;
}

.navbar a {
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-family: 'Neue Plak Extended', sans-serif;
    font-size: 20px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #83022b;
}

.navbar-logo {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar-logo:hover {
    border-radius: 10px 0 0 10px;
}

.navbar-logo a {
    height: 70px;
}

.navbar-logo img {
    height: 50px;
    transition: transform 0.3s ease;
}

.navbar-logo a:hover img {
    transform: scale(1.05);
}

.navbar-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar-links a {
    height: 70px;
}

.navbar-links a.deactivated {
    background-color: rgb(75, 0, 0);
}

.navbar-links a.deactivated:hover {
    cursor: not-allowed;
}

.navbar-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-social a {
    height: 70px;
    font-size: 25px;
}

.navbar-social a:last-child {
    border-radius: 0 10px 10px 0;
}

.navbar .mobile-nav-menu {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.navbar .mobile-nav-menu a {
    height: 70px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.navbar .mobile-nav-menu i {
    font-size: 24px;
    color: white;
}

@media (max-width: 802px) {
    .navbar-links,
    .navbar-social {
        display: none;
    }

    .navbar .mobile-nav-menu {
        display: flex;
    }
}

.mobile-menu-box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background: linear-gradient(#a50034, #980030);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    overflow-y: auto;
    box-sizing: border-box;
}

.mobile-menu-box.open {
    left: 0;
}

.mobile-menu-box .navbar-links,
.mobile-menu-box .navbar-social {
    display: flex;
    flex-direction: column;
}

.mobile-menu-box .navbar-links a,
.mobile-menu-box .navbar-social a {
    height: 50px;
    margin: 10px;
}

.mobile-menu-box .navbar-social {
    margin-top: auto;
    padding-bottom: 50px;
}

.mobile-menu-box .navbar-social a {
    border-radius: 20px;
}

/* … */



/* || MAIN CONTENT */

.main-content {
    color: var(--dark-background);
}

.main-content section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
}

    /* || HOME */

    #home {
        background-image: url('../resources/artwork/patterns/backgrounds/hexagon_mint_highlight_pattern.svg');
        background-size: 50px 75px;
        background-repeat: repeat;
        background-position: center;
    }

    /* … */



    /* || ABOUT */

    #about {
        background-color: var(--mint);
    }

    /* … */



    /* || Tracks */

    #tracks {
        background-color: var(--ice-blue);
    }

    /* .. */



    /* || FAQs */

    #faqs {
        background-color: var(--poiple);
    }

    /* .. */



    /* || CONTACT */

    #contact {
        background-color: var(--light-green);
    }

    /* … */

/* … */



/* || FOOTER */

.footer {
    background: linear-gradient(45deg, #a50034, #980030);
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.footer form .input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.footer form input[type="email"] {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid var(--ice-blue);
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.footer form button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid var(--ice-blue);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.footer form button[type="submit"]:hover {
    background-color: var(--ice-blue);
}

.footer-social a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #e4e4e4;
}

/* … */